.completed {
  text-decoration-line: line-through;
}

.del {
  background-color: transparent;
  border: 1px #ff0000 solid;
  margin: 3px;
  color: #ff0000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

li span {
  cursor: pointer;
}

.items button {
  opacity: 0;
  transition: opacity 0.15s;
}

.items li:hover button {
  opacity: 1;
}
