.completed {
  text-decoration-line: line-through;
}

.del {
  background-color: transparent;
  border: 1px #ff3434 solid;
  margin: 3px;
  color: #ff3434;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 1px solid gainsboro;
  padding: 2px;
  text-transform: uppercase;
  margin: 3px;
  color: #575757;
  cursor: pointer;
}

li span {
  cursor: pointer;
}

.items button {
  opacity: 0;
  transition: opacity 0.15s;
}

.items li:hover button {
  opacity: 1;
}
.App {
  color: #575757;
}

html {
  height: 100%;
  background-color: #ebebeb;
}

.goals,
.todos {
  padding-top: 10px;
  padding-bottom: 10px;
}
